<div class="card-shadow ion-padding">
  <h5>Images</h5>
</div>
<div class="scrolling-wrapper">
  <ion-card
    class="card"
    *ngFor="let image of images.backdrops.length ? images.backdrops : images.posters; trackBy: trackByFn">
    <image-loader
      spinnerMarginTop="14%"
      spinnerMarginLeft="40%"
      spinnerWidth="40px"
      spinnerWrapperWidth="200px"
      spinnerWrapperHeight="113px"
      [src]="'https://image.tmdb.org/t/p/w200' + image.file_path">
    </image-loader>
  </ion-card>
</div>
