<div class="card-shadow ion-padding">
  <h5>Images</h5>
</div>
<div class="scrolling-wrapper">
  <ion-card
    class="card"
    *ngFor="let image of images.backdrops.length ? images.backdrops : images.posters; trackBy: trackByFn">
    <image-loader
      spinnerMarginTop="14%"
      spinnerMarginLeft="40%"
      spinnerWidth="40px"
      spinnerWrapperWidth="200px"
      spinnerWrapperHeight="113px"
      (click)="openPreview(url + image.file_path)"
      (load)="onLoad()"
      imageStyle="200px"
      [src]="url + image.file_path">
    </image-loader>
  </ion-card>
</div>
