h5 {
  color: #ffffff;
  margin-left: 16px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 6px;
}

.card {
  margin: 10px 5px;
  display: inline-block;
}
