<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Celebrities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-slides
          [options]="slideOpts"
          #mySlider
          (ionSlidePrevStart)="slidesDidLoad(mySlider)"
          (ionSlideNextStart)="slidesDidLoad(mySlider)">
          <ion-slide *ngFor="let slide of (slides$ | async)?.results">
            <div class="profile-path">
              <img
                [src]="'https://image.tmdb.org/t/p/w400'+ slide.profile_path" [alt]="slide.profile_path">
              <p class="profile-path-name"> {{ slide.name }} </p>
            </div>
            <div class="backdrop-path">
              <img *ngFor="let image of slide?.known_for" [src]="'https://image.tmdb.org/t/p/w400' + image.poster_path"
                   [alt]="image.poster_path">
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <search [placeholder]="'Actor'" (changeValue)="onSearch($event)"></search>
    <actor-list
      [actors]="actors$ | async"
      (more)="more($event)"
      (checkActor)="checkActor($event)"
      (scroll)="clickScroll()">
    </actor-list>
    <ion-progress-bar
      *ngIf="(actors$ | async)?.total_pages < 100 && (actors$ | async)?.total_pages > 1"
      color="primary"
      [value]="(math.round((100 * (actors$ | async)?.page) / (actors$ | async)?.total_pages)) / 100">
    </ion-progress-bar>
  </ion-grid>
</ion-content>
