<div>
  <ion-row>
    <ion-col
      class="col-pagination">
      <div class="scrolling-wrapper">
        <ion-button
          *ngFor="let page of counter(seasonList?.length); let i = index"
          fill="clear"
          class="season"
          color="light"
          (click)="onClickSeason(i)">
          {{ i + 1 }}
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-slides [options]="slideOpts" #slider>
        <ion-slide *ngFor="let season of seasonList">
          <ion-card color="secondary">
            <ion-card-header>
              <ion-card-title>{{ 'labels.season' | translate }} {{ season.season_number }}</ion-card-title>
              <ion-card-subtitle>
                {{ season.air_date | date }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-item>
              <image-loader
                spinnerMarginTop="55%"
                spinnerMarginLeft="40%"
                spinnerWidth="40px"
                spinnerWrapperWidth="168px"
                spinnerWrapperHeight="252px"
                imageMaxHeightStyle="252px"
                imageMinHeightStyle="252px"
                imageWidthStyle="168px"
                [src]="'https://image.tmdb.org/t/p/w200'+ season.poster_path">
              </image-loader>
            </ion-item>
            <ion-card-content>
              <p>{{ season.overview | overview: 200 }}</p>
            </ion-card-content>
            <div>
              <ion-button
                [routerLink]="['/seasons', 'episode-list', tvShowId, season.season_number]"
                fill="clear"
                color="primary">
                {{ 'labels.more' | translate }}
              </ion-button>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</div>
