<h5>Details</h5>
<div class="info-wrapper">
  <p
    *ngIf="detailsInfo.release_date || detailsInfo.first_air_date"
    class="info-label">Release Date
  </p>
  <p class="info-title">{{ (detailsInfo.release_date | date) || (detailsInfo.first_air_date| date) }}</p>
  <p
    *ngIf="detailsInfo.production_countries || detailsInfo.origin_country"
    class="info-label">Country of Origin
  </p>
  <p
    class="info-title">{{ detailsInfo.production_countries ? (detailsInfo.production_countries | countries) : detailsInfo.origin_country }}</p>
  <p
    *ngIf="detailsInfo.omdbDetails.Language"
    class="info-label">Language Spoken
  </p>
  <p class="info-title">{{ detailsInfo.omdbDetails.Language }}</p>
  <p
    *ngIf="detailsInfo.budget"
    class="info-label">Budget
  </p>
  <p
    *ngIf="detailsInfo.budget"
    class="info-title">${{ detailsInfo.budget | formatNumber }}
  </p>
  <p
    *ngIf="detailsInfo.revenue"
    class="info-label">Revenue
  </p>
  <p
    *ngIf="detailsInfo.revenue"
    class="info-title">${{ detailsInfo.revenue | formatNumber }}
  </p>
  <p
    *ngIf="detailsInfo.omdbDetails.Production || detailsInfo.production_companies.length > 0"
    class="info-label">Production
  </p>
  <p
    *ngIf="detailsInfo.title"
    class="info-title">{{ detailsInfo.omdbDetails.Production }}
  </p>
  <div *ngIf="detailsInfo.production_companies.length > 0 && detailsInfo.name">
    <p
      *ngFor="let production of detailsInfo.production_companies"
      class="info-title">
      {{ production.origin_country !== '' ? production.name + ' | ' : ''}}
      {{ production.origin_country !== '' ? production.origin_country : ''}}
    </p>
  </div>
</div>
