h5 {
  color: #ffffff;
  margin-left: 16px;
}

.info-wrapper {
  padding: 0 16px;
}

.info-label {
  color: #ffffff;
  margin: 16px 0 0 0;
  font-size: 14px;
}

.info-title {
  font-size: 14px;
  color: #737373;
  margin: 0;
}
