<ion-item class="ion-no-padding"
          *ngIf="(videos?.results | firstTrailer) as videoResults">
  <div class="stretchy-wrapper">
    <div>
      <img [src]="videoResults !== '' ?
                  'https://i.ytimg.com/vi/' + videoResults + '/original.jpg' :
                  './assets/images/na.png'"
           [alt]="videoResults" style="overflow: hidden; width:100%;"/>
      <ion-icon
        (click)="playVideo.emit(videoResults)"
        class="play-icon"
        name="play-circle"></ion-icon>
    </div>
  </div>
</ion-item>
<ion-item class="ion-text-center" *ngIf="!(videos?.results | firstTrailer)">
  <ion-label color="tertiary">There are no trailer right now!</ion-label>
</ion-item>
