<ion-item class="ion-no-padding"
          *ngIf="(videos?.results | firstTrailer) as videoResults">
  <div class="stretchy-wrapper">
    <div>
      <image-loader
        (load)="onLoad()"
        [src]="'https://i.ytimg.com/vi/' + videoResults + path">
      </image-loader>
      <ion-icon
        (click)="playVideo.emit(videoResults)"
        class="play-icon"
        name="play-circle"></ion-icon>
    </div>
  </div>
</ion-item>
<ion-item class="ion-text-center" *ngIf="!(videos?.results | firstTrailer)">
  <ion-label color="tertiary">There are no trailer right now!</ion-label>
</ion-item>
