@import "./colors";

ion-item {
  --inner-padding-end: 0 !important;
  --padding-start: 0px !important;
  --ion-background-color: var(--ion-color-secondary);
}

.trailer-video {
  width: 100%;
}

.trailer-image {
  margin-top: -2px;
}

.play-icon {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  font-size: 70px;
  color: $text-color;
}
