<ion-row>
  <ion-col class="ion-no-padding" size="11" sizeSm="8">
    <ion-searchbar
      class="ion-no-padding"
      color="secondary"
      debounce="500"
      animated
      [placeholder]="placeholder"
      [value]="value"
      (ionChange)="onSearch($event)">
    </ion-searchbar>
  </ion-col>
  <!--  <ion-col size="1" sizeSm="1" class="micCol">-->
  <!--    <ion-icon class="mic" name="mic" color="primary"-->
  <!--              (click)="onSpeech()">-->
  <!--    </ion-icon>-->
  <!--  </ion-col>-->
</ion-row>
