<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Watchlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col
        class="ion-text-center"
        sizeMd="6"
        offsetMd="3"
        *ngIf="watchlist.length === 0">
        <p>No Watchlist found!</p>
      </ion-col>
      <ion-col
        sizeMd="6"
        offsetMd="3">
        <ion-list>
          <ion-item-sliding
            *ngFor="let movie of watchlist"
            #slidingMovie>
            <ion-item
              [routerLink]="['/', 'details', 'movie', movie.id]">
              <ion-avatar slot="start">
                <img
                  [src]="movie.poster === null ?
                    './assets/images/na.png' :
                    'https://image.tmdb.org/t/p/w200'+ movie.poster"
                  [alt]="movie.poster">
              </ion-avatar>
              <ion-label>
                <h5>{{ movie.title }}</h5>
                <p> {{ movie.genre }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                expandable
                color="secondary"
                (click)="onRemoveMovie(movie.id, slidingMovie)">
                <ion-icon name="trash" slot="top"></ion-icon>
                Delete
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
