<ion-col
  size="12"
  sizeSm="8"
  offsetSm="2"
  class="ion-text-center">
  <ion-list *ngIf="actors.page > 0">

    <ion-item
      *ngFor="let actor of actors.results"
      [detail]="!singleActor"
      (click)="checkActor.emit(actor)" button>
      <ion-thumbnail slot="start">
        <img
          [alt]="actor.profile_path"
          [src]="actor.profile_path === null ?
                  './assets/images/na.jpg' :
                  'https://image.tmdb.org/t/p/w200'+ actor.profile_path">
      </ion-thumbnail>
      <ion-label>{{ actor.name }}</ion-label>
      <ion-radio *ngIf="singleActor"
                 [checked]="actor.id === singleActor.id"
                 slot="end">
      </ion-radio>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-item>
    <ion-button *ngIf="actors.page < actors.total_pages" color="primary" fill="clear"
                (click)="more.emit(actors.page)">More
    </ion-button>
    <ion-fab *ngIf="actors.results.length > 15" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="scroll.emit()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>

</ion-col>
