@import "./colors";

ion-item {
  --border-color: rgba(247, 38, 100, .4);
  --border-radius: 20px;
  --color: rgb(247, 38, 100);
  --ripple-color: rgb(247, 38, 100);
  max-height: 100px;
}

ion-label {
  --color: var(--ion-color-primary-contrast) !important;
}

button {
  color: $text-color;
}

ion-thumbnail {
  --border-radius: 10px;
  height: 100%;
}

.scrolling-wrapper {
  overflow-x: auto;
  padding: 0 0 10px 0
}

.pages {
  margin-right: 5px;
}

.col-scrolling-wrapper {
  padding: 0 20px;
}
