<ion-item *ngFor="let skeleton of skeletons" detail>
  <ion-thumbnail slot="start" style="height: 84px; width: 56px">
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-thumbnail>
  <ion-label>
    <p style="width: 50px">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>
    <p style="width: 70px">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>
    <p style="width: 100px">
      <ion-skeleton-text animated></ion-skeleton-text>
    </p>
  </ion-label>
</ion-item>
