@import "./colors";

ion-slide {
  //height: 150px;
  background-size: cover;
  background-position: center;
}

p {
  position: absolute;
  color: $text-color;
  margin: 0;
  padding: 0 5px;
  text-shadow: 2px 2px 2px #000;
  bottom: 20px;
  left: 10px;
}
