<ion-row>
  <ion-col class="ion-no-padding">
    <ion-slides
      pager="true"
      [options]="slideOpts"
      #mySlider
      (ionSlidePrevStart)="slidesDidLoad(mySlider)"
      (ionSlideNextStart)="slidesDidLoad(mySlider)">
      <ion-slide *ngFor="let slide of (slides$ | async)?.results; trackBy: trackByFn">
        <img
          [src]="'https://image.tmdb.org/t/p/w780'+ slide.backdrop_path"
          [alt]="slide.backdrop_path">
        <p> {{ slide.title || slide.name }} </p>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>
