<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigate()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onPopover($event)">
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading | async">
  <ion-refresher slot="fixed" (ionRefresh)="forceReload($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="load-grid ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin ion-padding-bottom" color="secondary">
          <video-trailer [videos]="details?.videos" (playVideo)="playVideo($event)"></video-trailer>
          <info (allEpisodes)="navigateSeasons($event)" [details]="details"></info>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="details?.credits.cast.length > 0 || details?.credits.crew.length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <top-actors-list
          (navigateCast)="navigateCast($event)"
          [casts]="details?.credits.cast | orderCastCrew"
          [crews]="details?.credits.crew"
          [title]="'labels.cast' | translate">
        </top-actors-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(details?.videos.results).length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <videos-list [videos]="details?.videos" (playVideo)="playVideo($event)"></videos-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(details?.images.backdrops).length > 0 || (details?.images.posters).length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <images-list [images]="details?.images"></images-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="details?.omdbDetails.Response !== 'False' && details?.omdbDetails.Awards !== 'N/A'">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <div class="card-shadow ion-padding">
          <h5>{{ 'labels.awards' | translate }}</h5>
        </div>
        <div class="info-wrapper">
          <p class="info-label">{{ details.omdbDetails.Awards.split('.')[0] }}</p>
          <p class="info-title">{{ details.omdbDetails.Awards.split('.')[1] }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="details?.recommendations.results.length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <similar-list
          watchlistType="watchlistTvShows"
          (navigateMovie)="navigateMovie($event)"
          [title]="'labels.related' | translate"
          [similar]="details?.recommendations.results">
        </similar-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="details?.overview || details?.tagline">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <storyline [storyline]="{overview: details.overview, tagline: details.tagline}"></storyline>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isDetails(details)">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <details-info [detailsInfo]="details"></details-info>
      </ion-col>
    </ion-row>
    <ion-footer>
      <external-links
        [homepage]="details.homepage"
        [id]="details.id"
        [externalIds]="details.external_ids"
        [type]="'tv-shows'">
      </external-links>
    </ion-footer>
  </ion-grid>
</ion-content>
