<ion-row>
  <ion-col
    *ngIf="season?.episodes.length > 0"
    class="ion-text-center ion-no-padding"
    size="12"
    sizeSm="8"
    offsetSm="2">
    <ion-list class="ion-padding-top ion-padding-bottom">
      <ion-item *ngFor="let episode of season?.episodes" detail
                [routerLink]="['/', 'seasons', 'episode-details', episode.show_id, episode.season_number, episode.episode_number]">
        <ion-thumbnail slot="start">
          <image-loader
            spinnerMarginLeft="30%"
            spinnerMarginTop="0"
            spinnerWidth="40px"
            spinnerWrapperHeight="56px"
            spinnerWrapperWidth="100px"
            [src]="'https://image.tmdb.org/t/p/w200'+ episode.still_path"></image-loader>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <p class="movieListText">{{ episode.episode_number }}. {{ episode.name }}</p>
          <p class="movieReleaseDate">{{ episode.air_date | date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
