<div class="card-shadow ion-padding">
  <h5>{{ 'labels.videos' | translate }}</h5>
</div>
<div class="scrolling-wrapper">
  <ion-card
    class="card"
    *ngFor="let video of videos?.results | slice: 0 : slice">
    <div class="stretchy-wrapper" (click)="playVideo.emit(video.key)">
      <div>
        <image-loader
          spinnerMarginLeft="95%"
          spinnerMarginTop="39%"
          spinnerWidth="40px"
          spinnerWrapperHeight="148px"
          spinnerWrapperWidth="98px"
          imageMaxHeightStyle="124px"
          imageMinHeightStyle="124px"
          imageWidthStyle="220px"
          class="video-image"
          (load)="onLoad()"
          [src]="'https://i.ytimg.com/vi/' + video.key + path"></image-loader>
        <ion-icon class="play-video-icon" name="play-circle"></ion-icon>
      </div>
    </div>
    <ion-card-header color="secondary" class="video-header">
      <ion-card-title>
        {{ video.name }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <span *ngIf="slice !== videos?.results.length && videos?.results.length > 4" class="expand-slide-icon"
        (click)="onExpand(videos?.results.length)">&#187;</span>
</div>
