<div class="card-shadow ion-padding">
  <h5>Videos</h5>
</div>
<div class="scrolling-wrapper">
  <ion-card
    class="card"
    *ngFor="let video of videos?.results">
    <div class="stretchy-wrapper" (click)="playVideo.emit(video.key)">
      <div>
        <image-loader
          class="video-image"
          (load)="onLoad()"
          [src]="'https://i.ytimg.com/vi/' + video.key + path"></image-loader>
        <ion-icon class="play-video-icon" name="play-circle"></ion-icon>
      </div>
    </div>
    <ion-card-header color="secondary" class="video-header">
      <ion-card-title>
        {{ video.name }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
