@import "./colors";

ion-card-title {
  font-size: 13px;
  white-space: initial;
}

.card {
  width: 220px;
}

.crop-black-image {
  overflow: hidden;
  z-index: 2;
}

.video-image {
  z-index: 1;
  width: 350px;
}

.play-video-icon {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 22px);
  font-size: 50px;
  color: #cccccc8f;
}

.video-header {
  background-color: var(--ion-color-secondary-tint);
  padding: 8px;
  height: 50px;
}
