@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('./assets/fonts/Anton-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
