<ion-app>
  <ion-menu content-id="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          MovieDB
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item class="menuItemTextColor" routerLink="/tabs/tab/movies">
            <ion-icon class="menuItemTextColor" name="home" slot="start"></ion-icon>
            <ion-label>{{ 'labels.home' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="menuItemTextColor" routerLink="/watchlist">
            <ion-icon class="menuItemTextColor" name="list" slot="start"></ion-icon>
            <ion-label>{{ 'labels.watchlist' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item class="menuItemTextColor" routerLink="/settings">
            <ion-icon class="menuItemTextColor" name="settings" slot="start"></ion-icon>
            <ion-label>{{ 'labels.settings' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <div class="tmdb-source">
        <p>Source of data and images</p>
        <a href="https://www.themoviedb.org/">
          <img src="./assets/images/tmdb.png" alt="">
        </a>
      </div>
      <div class="copyright">
        <small>Copyright &copy; {{ year }}, Molle</small>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
