<ion-row>
  <ion-col
    *ngIf="movies && movies?.results.length > 0"
    class="ion-text-center"
    size="12"
    sizeSm="8"
    offsetSm="2">
    <ion-list>
      <ion-item *ngFor="let movie of movies?.results" detail
                (click)="clicked.emit(movie.id)">
        <ion-thumbnail slot="start">
          <img
            [src]="movie.poster_path === null ?
                  './assets/images/na.jpg' :
                  'https://image.tmdb.org/t/p/w200'+ movie.poster_path"
            [alt]="movie.poster_path">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <p class="movieListText">{{ movie.title || movie.name }}</p>
          <p class="movieReleaseDate">{{ movie.release_date | date }}</p>
          <p class="movieReleaseDate">{{ movie.genre_ids | findGenres: genres }}</p>
        </ion-label>
      </ion-item>
      <ion-button *ngIf="movies?.page < movies?.total_pages" color="primary" fill="clear"
                  (click)="more.emit(movies?.page)">More
      </ion-button>
      <ion-fab *ngIf="movies?.results.length > 15" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="scroll.emit()">
          <ion-icon name="arrow-round-up"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-list>
  </ion-col>
</ion-row>
