.movieListText {
  color: var(--ion-color-primary-contrast);
}

.movieReleaseDate {
  font-size: 12px;
}

.genresList {
  --border-style: none;
  --color: var(--ion-color-primary-contrast);
  --min-height: 30px;
}

.dropdownGenreText {
  color: var(--ion-color-step-600, #666);
}

ion-list {
  padding-top: 0;
}

ion-thumbnail {
  margin: 0 16px 0 0;
  height: 100%;
}

ion-item {
  --border-color: var(--ion-color-primary-contrast);
  --border-radius: 20px;
  --color: var(--ion-color-primary-contrast);
  --ripple-color: var(--ion-color-primary-contrast);
  --min-height: 108px;
}

ion-fab-button {
  height: 46px;
  width: 46px;
}
