<p class="not-found-message"
   *ngIf="movies?.page === 1 && movies?.total_results === 0">{{ 'labels.no_data_found' | translate }}</p>
<ion-row>
  <ion-col *ngIf="!movies">
    <skeleton-item-list></skeleton-item-list>
  </ion-col>
  <ion-col
    *ngIf="movies && movies?.results.length > 0"
    class="ion-text-center ion-no-padding">
    <ion-list>
      <ion-item button *ngFor="let movie of movies?.results" detail
                (click)="clicked.emit(movie.id)">
        <ion-thumbnail slot="start">
          <image-loader
            spinnerMarginLeft="28%"
            spinnerMarginTop="26%"
            spinnerWidth="27px"
            spinnerWrapperHeight="84px"
            spinnerWrapperWidth="56px"
            imageMaxHeightStyle="84px"
            imageMinHeightStyle="84px"
            imageWidthStyle="56px"
            [src]="'https://image.tmdb.org/t/p/w200'+ movie.poster_path"></image-loader>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <p class="movieListText">{{ movie.title || movie.name }}</p>
          <p class="movieReleaseDate">{{ movie.release_date | date }}</p>
          <p class="movieReleaseDate">{{ movie.genre_ids | findGenres: genres }}</p>
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
<ion-row class="row-pagination" *ngIf="movies?.total_pages > 1">
  <ion-col>
    <div class="scrolling-wrapper">
      <ion-button
        *ngFor="let page of counter(movies?.total_pages); let i = index; trackBy: trackByFn"
        fill="clear"
        class="pages"
        [color]="i + 1 === movies?.page ? 'primary' : 'light'"
        (click)="clickedPage.emit(i + 1)">
        {{ i + 1 }}
      </ion-button>
    </div>
  </ion-col>
</ion-row>
