.movieListText {
  color: var(--ion-color-primary-contrast);
}

.movieReleaseDate {
  font-size: 12px;
}

ion-list {
  padding-top: 0;
}

ion-thumbnail {
  margin: 0 16px 0 0;
  height: 100%;
}

ion-item {
  //--border-color: var(--ion-color-primary-contrast);
  //--border-radius: 20px;
  //--color: var(--ion-color-primary-contrast);
  //--ripple-color: var(--ion-color-primary-contrast);
  //--min-height: 108px;
  --border-color: rgba(247, 38, 100, .4);
  --border-radius: 20px;
  --color: rgb(247, 38, 100);
  --ripple-color: rgb(247, 38, 100);
  --min-height: 100px;
}

.scrolling-wrapper {
  overflow-x: auto;
  padding: 10px;
}

.pages {
  //box-shadow: 0 3px 1px -2px rgba(255, 255, 255, .2), 0 2px 2px 0 rgba(255, 255, 255, .2), 0 1px 5px 0 rgba(255, 255, 255, .2);
  width: 50px;
  margin-right: 5px;
}

.row-pagination {
  padding: 0 15px;
}
