<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movies">
      <ion-label class="anton-label-font">Movies</ion-label>
      <ion-icon name="film"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tv-shows">
      <ion-label class="anton-label-font">TV Shows</ion-label>
      <ion-icon name="tv"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="celebrities">
      <ion-label class="anton-label-font">Celebrities</ion-label>
      <ion-icon name="star"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
