<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigate()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        size="12"
        sizeSm="8"
        offsetSm="2"
        class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Filter By Genre and Year</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button (click)="openGenres()" expand="full" color="secondary">
              <span>Filter By Genre</span>
              <ion-icon *ngIf="!isGenres" slot="end" name="arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="isGenres" slot="end" name="arrow-dropup"></ion-icon>
            </ion-button>
            <ion-list *ngIf="isGenres">
              <ion-item *ngFor="let genre of genres$ | async">
                <ion-label>{{genre.name}}</ion-label>
                <ion-checkbox
                  (ionChange)="checkGenre(genre)"
                  [value]="genre.isChecked" slot="end"
                  [(ngModel)]="genre.isChecked">
                </ion-checkbox>
              </ion-item>
            </ion-list>

            <ion-button (click)="openYears()" expand="full" color="secondary">
              <span>Filter By Years</span>
              <ion-icon *ngIf="!isYears" slot="end" name="arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="isYears" slot="end" name="arrow-dropup"></ion-icon>
            </ion-button>
            <ion-list *ngIf="isYears">
              <ion-radio-group>
                <ion-item *ngFor="let year of years$ | async; trackBy: trackByFn">
                  <ion-label>{{ year.value }}</ion-label>
                  <ion-radio [checked]="year.isChecked" (ionSelect)="checkYear(year)" slot="end"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="tab !== 'tv-shows'">
      <ion-col
        size="12"
        sizeSm="8"
        offsetSm="2"
        class="ion-no-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Filter By Actor</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <search [placeholder]="'Actor'" (changeValue)="onSearch($event)"></search>
            <ion-button *ngIf="value !== ''" (click)="openActors()" expand="full" color="secondary">
              <span>Actors</span>
              <ion-icon *ngIf="!isActors" slot="end" name="arrow-dropdown"></ion-icon>
              <ion-icon *ngIf="isActors" slot="end" name="arrow-dropup"></ion-icon>
            </ion-button>
            <actor-list
              *ngIf="value !== '' && isActors"
              [actors]="actors$ | async"
              [singleActor]="actor$ | async"
              (clickedPage)="more($event)"
              (checkActor)="checkActor($event)">
            </actor-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        size="12"
        sizeSm="8"
        offsetSm="2"
        class="ion-no-padding">
        <ion-card>
          <ion-card-header class="filter-results-header">
            <ion-card-title>Filter Search Results</ion-card-title>
            <ion-button color="light" fill="clear" (click)="resetFilter()">Reset</ion-button>
          </ion-card-header>

          <ion-card-content *ngIf="isResults(tab, (actor$ | async)?.id,  filterQueryMovie, filterQueryTVShows)">
            <ion-col
              *ngIf="tab !== 'tv-shows' && (actor$ | async).id !== 0"
              size="12"
              sizeSm="8"
              offsetSm="2"
              class="ion-padding-start">
              <p class="filter-info-title">Actor</p>
              <span class="filter-info-description">{{ (actor$ | async).name }}</span>
            </ion-col>
            <ion-col
              *ngIf="tab === 'movies' && filterQueryMovie.with_genres.length > 0"
              size="12"
              sizeSm="8"
              offsetSm="2"
              class="ion-padding-start">
              <p class="filter-info-title">Genres</p>
              <ng-container *ngFor="let genre of genres$ | async">
                <span class="filter-info-description" *ngIf="genre.isChecked">{{ genre.name }} | </span>
              </ng-container>
            </ion-col>
            <ion-col
              *ngIf="tab === 'tv-shows' && filterQueryTVShows.with_genres.length > 0"
              size="12"
              sizeSm="8"
              offsetSm="2"
              class="ion-padding-start">
              <p class="filter-info-title">Genres</p>
              <ng-container *ngFor="let genre of genres$ | async">
                <span class="filter-info-description" *ngIf="genre.isChecked">{{ genre.name }} | </span>
              </ng-container>
            </ion-col>
            <ion-col
              *ngIf="tab === 'movies' && filterQueryMovie.primary_release_year"
              size="12"
              sizeSm="8"
              offsetSm="2"
              class="ion-padding-start">
              <p class="filter-info-title">Year</p>
              <span class="filter-info-description">{{ filterQueryMovie.primary_release_year }}</span>
            </ion-col>
            <ion-col
              *ngIf="tab === 'tv-shows' && filterQueryTVShows.first_air_date_year"
              size="12"
              sizeSm="8"
              offsetSm="2"
              class="ion-padding-start">
              <p class="filter-info-title">Year</p>
              <span class="filter-info-description">{{ filterQueryTVShows.first_air_date_year }}</span>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
