ion-card-title {
  font-size: 14px;
  white-space: initial;
}

ion-card-subtitle {
  font-size: 14px;
  white-space: initial;
}

ion-card {
  outline: none;
}

.top-billed-cast-header {
  background-color: var(--ion-color-secondary-tint);
  padding: 16px 8px;
  height: 100px;
}

.release-date {
  position: absolute;
  bottom: 7px;
}
