ion-card-title {
  font-size: 14px;
  white-space: initial;
}

ion-card-subtitle {
  font-size: 14px;
  white-space: initial;
}

ion-card {
  outline: none;
}

.top-billed-cast-header {
  background-color: var(--ion-color-secondary-tint);
  padding: 8px;
  height: 100px;
}

.release-date {
  position: absolute;
  bottom: 7px;
}

.release-date {
  z-index: 1;
  position: absolute;
  color: rgba(255, 255, 255, 0.9) !important;
  margin: 0;
  padding: 3px 5px;
  text-shadow: 2px 2px 2px #000;
  bottom: 100px;
  font-size: smaller;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.add-icon {
  font-size: 16px;
  position: absolute;
  top: 0;
  color: white;
  z-index: 5;
  right: 7px;
}

.bookmark {
  font-size: 30px;
  position: absolute;
  top: -4px;
  right: 0;
  //color: var(--ion-color-primary);
}
