<div class="card-shadow ion-padding">
  <h5>{{ title }}</h5>
</div>
<div class="scrolling-wrapper">
  <ion-card
    class="card"
    *ngFor="let movie of similar | orderSimilar; let i = index; trackBy: trackByFn">
    <ion-icon
      [style.pointerEvents]="isColor(movie.id) === 'primary' ? 'none' : 'auto'"
      (click)="addToWatchlist(movie.id, i)"
      name="add"
      class="add-icon">
    </ion-icon>
    <ion-icon
      #bookmark
      name="bookmark"
      class="bookmark"
      [color]="isColor(movie.id)">
    </ion-icon>
    <image-loader
      spinnerMarginTop="50%"
      spinnerMarginLeft="35%"
      spinnerWidth="40px"
      spinnerWrapperHeight="180px"
      [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path">
    </image-loader>
    <p class="release-date">
      {{ (movie.release_date | date: 'y') || (movie.first_air_date | date: 'y') }}
    </p>
    <ion-card-header (click)="navigateMovie.emit(movie)" color="secondary" class="top-billed-cast-header">
      <ion-card-title>
        {{ movie.title || movie.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>
