<div class="card-shadow ion-padding">
  <h5>{{ title }}</h5>
</div>
<div class="scrolling-wrapper">
  <ion-card
    class="card"
    *ngFor="let movie of similar | orderSimilar | slice: 0: slice; let i = index; trackBy: trackByFn">
    <ion-icon
      [style.pointerEvents]="isColor(movie.id) === 'primary' ? 'none' : 'auto'"
      (click)="addToWatchlist(movie.id, i)"
      name="add"
      class="add-icon">
    </ion-icon>
    <ion-icon
      #bookmark
      name="bookmark"
      class="bookmark"
      [color]="isColor(movie.id)">
    </ion-icon>
    <ion-spinner *ngIf="i === bookmarkIndex" color="primary" name="dots"></ion-spinner>
    <image-loader
      spinnerMarginTop="50%"
      spinnerMarginLeft="35%"
      spinnerWidth="40px"
      spinnerWrapperWidth="120px"
      spinnerWrapperHeight="180px"
      imageMaxHeightStyle="180px"
      imageMinHeightStyle="180px"
      imageWidthStyle="120px"
      (click)="openPreview(movie.poster_path)"
      (load)="onLoad()"
      [src]="url + movie.poster_path">
    </image-loader>
    <p class="release-date">
      {{ (movie.release_date | date: 'y') || (movie.first_air_date | date: 'y') }}
    </p>
    <ion-card-header (click)="navigateMovie.emit(movie)" color="secondary"
                     class="top-billed-cast-header ion-activatable">
      <ion-card-title>
        {{ movie.title || movie.name }}
      </ion-card-title>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card-header>
  </ion-card>
  <span *ngIf="slice !== similar.length && similar.length > 4"
        class="expand-slide-icon"
        (click)="onExpand(similar.length)">&#187;</span>
</div>
