<div class="card-shadow ion-padding">
  <h5>{{ title }}</h5>
</div>
<div class="scrolling-wrapper" *ngIf="casts">
  <ion-card
    button
    class="card"
    *ngFor="let cast of casts | slice : 0 : slice; trackBy: trackByFn">
    <image-loader
      (click)="openPreview(cast.profile_path)"
      spinnerMarginTop="50%"
      spinnerMarginLeft="35%"
      spinnerWidth="40px"
      spinnerWrapperHeight="180px"
      imageMaxHeightStyle="180px"
      imageMinHeightStyle="180px"
      imageWidthStyle="120px"
      (load)="onLoad()"
      [src]="url + cast.profile_path">
    </image-loader>
    <ion-card-header color="secondary" class="top-billed-cast-header"
                     (click)="navigateCast.emit(cast)">
      <ion-card-title>
        {{ cast.name }}
      </ion-card-title>
      <p *ngIf="cast.character" class="acting-as">as ( {{ cast.character | overview: 17 }} )</p>
    </ion-card-header>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <span *ngIf="slice !== casts.length && casts.length > 4" class="expand-slide-icon" (click)="onExpand(casts.length)">&#187;</span>
</div>
<div class="scrolling-wrapper" *ngIf="guests">
  <ion-card
    class="card"
    *ngFor="let guest of guests | slice: 0 : sliceGuest; trackBy: trackByFn">
    <image-loader
      (click)="openPreview(guest.profile_path)"
      spinnerMarginTop="50%"
      spinnerMarginLeft="35%"
      spinnerWidth="40px"
      spinnerWrapperHeight="180px"
      imageMaxHeightStyle="180px"
      imageMinHeightStyle="180px"
      imageWidthStyle="120px"
      (load)="onLoad()"
      [src]="url + guest.profile_path">
    </image-loader>
    <ion-card-header color="secondary" class="top-billed-cast-header"
                     (click)="navigateGuest.emit(guest)">
      <ion-card-title>
        {{ guest.name }}
      </ion-card-title>
      <p *ngIf="guest.character" class="acting-as">as ( {{ guest.character | overview: 17 }} )</p>
    </ion-card-header>
  </ion-card>
  <span *ngIf="sliceGuest !== guests.length && guests.length > 4" class="expand-slide-icon"
        (click)="onExpandGuests(guests.length)">&#187;</span>
</div>
<div *ngIf="crews">
  <div class="info-wrapper" *ngIf="(crews | director)">
    <p class="info-label">Director</p>
    <p class="info-title">{{ crews | director }}</p>
  </div>
  <div class="info-wrapper" *ngIf="(crews | writers) !== ', and others'">
    <p class="info-label">Writers</p>
    <p class="info-title">{{ crews | writers }}</p>
  </div>
</div>
