<div class="card-shadow ion-padding">
  <h5>{{ title }}</h5>
</div>
<div class="scrolling-wrapper" *ngIf="casts">
  <ion-card
    class="card"
    *ngFor="let cast of casts; trackBy: trackByFn"
    (click)="navigateCast.emit(cast)">
    <image-loader
      spinnerMarginTop="50%"
      spinnerMarginLeft="35%"
      spinnerWidth="40px"
      spinnerWrapperHeight="180px"
      [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + cast.profile_path">
    </image-loader>
    <ion-card-header color="secondary" class="top-billed-cast-header">
      <ion-card-title>
        {{ cast.name }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ cast.character }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>
<div class="scrolling-wrapper" *ngIf="guests">
  <ion-card
    class="card"
    *ngFor="let guest of guests; trackBy: trackByFn"
    (click)="navigateGuest.emit(guest)">
    <image-loader
      spinnerMarginTop="50%"
      spinnerMarginLeft="35%"
      spinnerWidth="40px"
      spinnerWrapperHeight="180px"
      [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + guest.profile_path">
    </image-loader>
    <ion-card-header color="secondary" class="top-billed-cast-header">
      <ion-card-title>
        {{ guest.name }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ guest.character }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>
<div *ngIf="crews">
  <div class="info-wrapper" *ngIf="(crews | director)">
    <p class="info-label">Director</p>
    <p class="info-title">{{ crews | director }}</p>
  </div>
  <div class="info-wrapper" *ngIf="(crews | writers) !== ', and others'">
    <p class="info-label">Writers</p>
    <p class="info-title">{{ crews | writers }}</p>
  </div>
</div>
