h5 {
  color: #ffffff;
  margin-left: 16px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 6px;
}

.card {
  width: 120px;
  margin: 10px 5px;
  display: inline-block;
}

.top-billed-cast-header {
  background-color: var(--ion-color-secondary-tint);
  padding: 16px 8px;
  height: 100px;
}

.top-billed-cast-header > ion-card-title {
  font-size: 14px;
  white-space: initial;
}

.top-billed-cast-header > ion-card-subtitle {
  font-size: 14px;
  white-space: initial;
}

.info-wrapper {
  padding: 0 16px;
}

.info-label {
  color: #ffffff;
  margin: 16px 0 0 0;
  font-size: 14px;
}

.info-title {
  font-size: 14px;
  color: #737373;
  margin: 0;
}
