@import "./colors";

ion-item {
  --ion-background-color: var(--ion-color-secondary);
}

ion-card-subtitle {
  font-size: smaller;
}

ion-thumbnail {
  height: 100%;
  width: 30%;
  margin: 0 16px 0 0;
}

ion-label {
  margin: 0;
}

ion-button {
  position: absolute;
  top: 0;
  margin-left: 0;
}

.card-content {
  padding: 16px;
}

.imdb-rating-wrapper {
  text-align: center;
  float: left;
}

.rating-image-rating-wrapper > div > h5 {
  margin-top: 5px;
  text-align: center;
}

.tmdb-rating-wrapper {
  margin-top: 2px;
}

.tmdb-rating {
  margin-top: 3px;
}

.rotten-rating-wrapper {
  margin-top: -3px;
}

.rotten-rating-wrapper > div > h5 {
  margin-top: 7px;
  text-align: center;
}

.metascore-square {
  width: 45px;
  height: 45px;
  border-radius: 5px;
}

.imdb-rating-wrapper > div > h5 {
  color: $text-color;
  display: inline-block;
  margin-top: 5px;
}

.imdb-rating-wrapper > div > span {
  color: $silver-color;
  font-size: 13px;
}

.vote-count {
  color: $silver-color;
  font-size: 11px;
  margin: 3px;
  text-align: center;
}

.metascore-wrapper {
  text-align: center;
  float: right;
}

.rating-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rating-logo {
  width: 45px;
}

.metascore {
  margin: 0;
  padding: 9px;
  color: $text-color;
}

.details-overview {
  max-height: 160px;
  color: $text-color;
  overflow: hidden;
}
