ion-item {
  --ion-background-color: var(--ion-color-secondary);
}

ion-card-subtitle {
  font-size: smaller;
}

ion-thumbnail {
  height: 100%;
  width: 30%
}

.title-header {
  border-bottom: 1px solid white;
  border-width: 0.01em;
}

.card-content {
  padding: 10px 0 0 0;
}

.vote-share-wrapper {
  padding: 0 11px 10px 4px;
}

.imdb-rating-wrapper {
  text-align: center;
  float: left;
}

.imdb-rating-wrapper > div > h5 {
  color: #ffffff;
  display: inline-block;
  margin: 0;
}

.imdb-rating-wrapper > div > span {
  color: #ffffff;
  font-size: 13px;
}

.icon-star {
  color: #e4bb24;
  font-size: 30px;
}

.vote-count {
  color: #737373;
  font-size: 11px;
  margin: 3px;
  text-align: center;
}

.imdb-metascore-wrapper {
  text-align: center;
  float: right;
}

.icon-square {
  color: #66cc33;
  font-size: 35px;
}

.metascore {
  position: absolute;
  color: #ffffff;
  top: 5px;
  right: 73px;
}

.metascore-title {
  margin: 0;
}

.details-overview {
  max-height: 160px;
  color: #ffffff;
  overflow: hidden;
}
