<ion-card-header color="secondary" class="card-shadow">
  <ion-card-title>
    {{ details?.title || details?.name }}
  </ion-card-title>
  <ion-card-subtitle>
    {{ (details?.release_date | date: 'y') || (details?.first_air_date | date: 'y') }}&nbsp;&nbsp;
    {{ details?.omdbDetails.Rated }}&nbsp;&nbsp;
    {{ details?.runtime ? (details?.runtime | runtime) : details?.runtime !== null ? (details?.episode_run_time[0] | runtime) : '' }}&nbsp;&nbsp;
    {{ details?.genres | allGenres }}
  </ion-card-subtitle>
</ion-card-header>
<ion-card-content class="card-content">
  <ion-item
    *ngIf="details?.name"
    color="secondary"
    class="ion-no-padding">
    <ion-label class="ion-padding-bottom">
      <h2 *ngIf="details.in_production && details.next_episode_to_air !== null">
        Next Episode: Episode
        #{{ details.next_episode_to_air.season_number }}.{{ details.next_episode_to_air.episode_number }}
      </h2>
      <p
        *ngIf="details.in_production && details.next_episode_to_air !== null"
        style="color: #737373">{{ details.next_episode_to_air.air_date | date }}
      </p>
    </ion-label>
    <ion-button
      [style.right]="details.in_production && details.next_episode_to_air !== null ? '0' : ''"
      (click)="allEpisodes.emit(details?.id)"
      fill="outline"
      slot="{{ details.in_production && details.next_episode_to_air !== null ? 'end' : 'start'}}">
      All Episodes
    </ion-button>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-thumbnail slot="start">
      <image-loader
        spinnerMarginLeft="30%"
        spinnerMarginTop="42%"
        spinnerWidth="40px"
        spinnerWrapperHeight="148px"
        spinnerWrapperWidth="98px"
        [src]="'https://image.tmdb.org/t/p/w200'+ details.poster_path">
      </image-loader>
    </ion-thumbnail>
    <p class="details-overview">{{ details.overview | overview: 200 }}</p>
  </ion-item>
</ion-card-content>
<ion-item class="ion-padding-end ion-padding-start">
  <div class="rating-wrapper">
    <div class="imdb-rating-wrapper tmdb-rating-wrapper" *ngIf="details.vote_average > 0">
      <img src="./assets/images/tmdb.png" alt="tmdb" class="rating-logo">
      <div class="tmdb-rating">
        <h5>{{ details.vote_average }}</h5>
        <span> / 10</span>
      </div>
      <p class="vote-count">{{ details.vote_count | number }}</p>
    </div>
    <div class="imdb-rating-wrapper"
         *ngIf="details.omdbDetails.Response === 'True' && details.omdbDetails.imdbRating !== 'N/A'">
      <img src="./assets/images/imdb.png" alt="imdb" class="rating-logo">
      <div>
        <h5>{{ details.omdbDetails.imdbRating }}</h5>
        <span> / 10</span>
      </div>
      <p class="vote-count">{{ details.omdbDetails.imdbVotes }}</p>
    </div>
    <div class="rotten-rating-wrapper"
         *ngIf="details.omdbDetails.Response === 'True' && details.omdbDetails.Ratings.length &&
         details.omdbDetails.Ratings.length > 1 && details.omdbDetails.Ratings[1].Source === 'Rotten Tomatoes'">
      <img src="./assets/images/rotten-tomatoes.png" alt="rotten-tomatoes" class="rating-logo">
      <div>
        <h5>{{ details.omdbDetails.Ratings[1].Value }}</h5>
      </div>
    </div>
    <div class="metascore-wrapper" *ngIf="details.omdbDetails.Metascore !== 'N/A'">
      <div class="metascore-square" [ngStyle]="{'backgroundColor': metascoreColor}">
        <p class="metascore">{{ details.omdbDetails.Metascore }}</p>
      </div>
    </div>
  </div>
</ion-item>
