<ion-card-header color="secondary" class="title-header">
  <ion-card-title>
    {{ details?.title || details?.name }}
  </ion-card-title>
  <ion-card-subtitle>
    {{ (details?.release_date | date: 'y') || (details?.first_air_date | date: 'y') }}&nbsp;&nbsp;
    {{ details?.omdbDetails.Rated }}&nbsp;&nbsp;
    {{ details?.runtime ? (details?.runtime | runtime) : details?.runtime !== null ? (details?.episode_run_time[0] | runtime) : '' }}&nbsp;&nbsp;
    {{ details?.genres | allGenres }}
  </ion-card-subtitle>
</ion-card-header>
<ion-card-content class="card-content">
  <ion-item
    *ngIf="details?.name"
    color="secondary"
    class="title-header"
    style="padding-bottom: 16px">
    <ion-label>
      <h2 *ngIf="details.in_production && details.next_episode_to_air !== null">
        Next Episode: Episode
        #{{ details.next_episode_to_air.season_number }}.{{ details.next_episode_to_air.episode_number }}
      </h2>
      <p
        *ngIf="details.in_production && details.next_episode_to_air !== null"
        style="color: #737373">{{ details.next_episode_to_air.air_date | date }}
      </p>
    </ion-label>
    <ion-button
      style="margin-left: 0"
      fill="outline"
      slot="{{ details.in_production && details.next_episode_to_air !== null ? 'end' : 'start'}}">
      All Episodes
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img
        [src]="details.poster_path === null ?
                    './assets/images/na.jpg' :
                    'https://image.tmdb.org/t/p/w200'+ details.poster_path"
        [alt]="details.poster_path">
    </ion-thumbnail>
    <p class="details-overview">{{ details.overview | overview }}</p>
  </ion-item>
</ion-card-content>
<ion-item class="vote-share-wrapper"
          *ngIf="!(details.omdbDetails.imdbRating === 'N/A' && details.omdbDetails.Metascore === 'N/A')">
  <div style="width: 100%; padding: 0 35px;">
    <div class="imdb-rating-wrapper" *ngIf="details.omdbDetails.imdbRating !== 'N/A'">
      <ion-icon class="icon-star" name="star"></ion-icon>
      <div class="voteWrapper">
        <h5 class="whiteText vote">{{ details.omdbDetails.imdbRating }}</h5>
        <span class="whiteText voteSlashTen">/ 10</span>
      </div>
      <p class="vote-count">{{ details.omdbDetails.imdbVotes | formatNumber }}</p>
    </div>
    <div class="imdb-metascore-wrapper" *ngIf="details.omdbDetails.Metascore !== 'N/A'">
      <div>
        <ion-icon name="square" class="icon-square"></ion-icon>
        <span class="metascore">{{ details.omdbDetails.Metascore }}</span>
      </div>
      <div>
        <p class="metascore-title">Metascore</p>
      </div>
    </div>
  </div>
</ion-item>
