/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Anton|Kalam|Roboto');

ion-title {
  font-family: 'Anton', sans-serif;
}

ion-toolbar {
  ion-button,
  ion-back-button,
  ion-menu-button,
  .sc-ion-back-button-ios-h {
    --color: var(--ion-color-primary-contrast);
  }
}

ion-spinner {
  width: 55px;
  height: 55px;
}

.alert-wrapper.sc-ion-alert-md {
  background: #333;
  border-radius: 15px;
}

.alert-title.sc-ion-alert-md {
  color: white;
  text-align: center;
}

.alert-message.sc-ion-alert-md {
  color: var(--ion-color-primary-contrast) !important;
}

.alert-radio-label.sc-ion-alert-md {
  color: var(--ion-color-primary-contrast) !important;
}

.popover-content.sc-ion-popover-md {
  width: 160px;
  left: 190px !important;
}

.cancelButton {
  color: #737373 !important;
}

.deleteButton {
  color: #f04141 !important;
}

.alert-sub-title.sc-ion-alert-md {
  text-align: center;
  color: white;
}

.menuItemTextColor {
  color: #ffffff;
}

.loading-wrapper.sc-ion-loading-md {
  background: transparent !important;
  color: #ffffff;
  box-shadow: none;
}

.picker-wrapper.sc-ion-picker-md {
  background-color: #ffffff !important;
}

.mat-expansion-indicator::after {
  color: #fff !important;
}
