/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
//@import url('https://fonts.googleapis.com/css?family=Anton');
//@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import "./colors";
@import "./theme/fonts";

:root,
:root[mode="md"] {
  --ion-font-family: 'Oswald';

  ion-spinner {
    color: var(--ion-color-primary);
  }

  ion-refresher {
    top: 5px;
  }
}

.anton-label-font {
  font-family: "Anton", sans-serif;
}

ion-action-sheet {
  --background: rgba(255, 255, 255, .9) !important;
}

p {
  color: $text-color;
}

ion-toolbar {
  ion-button,
  ion-back-button,
  ion-menu-button,
  .sc-ion-back-button-ios-h {
    --color: var(--ion-color-primary-contrast);
  }
}

ion-spinner {
  width: 55px;
  height: 55px;
}

ion-card-subtitle {
  color: $silver-color !important;
}

h5 {
  margin: 0;
  color: $text-color;
}

ion-skeleton-text {
  --background: white;
  --background-rgb: 255, 255, 255;
}

.action-sheet-title.sc-ion-action-sheet-md {
  --ion-font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #ccc;
}

.alert-wrapper.sc-ion-alert-md {
  background: #333;
  border-radius: 15px;
}

.alert-title.sc-ion-alert-md {
  color: var(--ion-color-primary-contrast);
  text-align: center;
}

.alert-message.sc-ion-alert-md {
  color: var(--ion-color-primary-contrast) !important;
}

.alert-radio-label.sc-ion-alert-md {
  color: var(--ion-color-primary-contrast) !important;
}

.popover-content.sc-ion-popover-md {
  width: 160px;
}

.cancelButton {
  color: $silver-color !important;
}

.deleteButton {
  color: #f04141 !important;
}

.alert-sub-title.sc-ion-alert-md {
  text-align: center;
  color: $text-color;
}

.menuItemTextColor {
  color: $text-color;
}

.loading-wrapper.sc-ion-loading-md {
  background: transparent !important;
  color: $text-color;
  box-shadow: none;
}

.picker-wrapper.sc-ion-picker-md {
  background-color: $text-color !important;
}

.mat-expansion-indicator::after {
  color: $text-color !important;
}

.card-shadow {
  box-shadow: 0 0 2px 0 rgba(247, 38, 100, .3);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 16px 0 0 16px;
}

.card {
  width: 120px;
  margin: 0 16px 0 0;
  display: inline-block;
}

.swiper-pagination {
  bottom: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}

.modal-wrapper {
  background: rgba(0, 0, 0, 0.7) !important;
}

.not-found-message {
  text-align: center;
  color: var(--ion-color-tertiary)
}
