<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <slides [slides]="slides$ | async"></slides>
    <search (changeValue)="onSearch($event)"></search>
    <type *ngIf="!value" (selectSegment)="selectSegment($event)"></type>
    <data-list
      [genres]="(movieGenres$ | async)?.genres"
      [movies]="movies$ | async"
      (more)="more($event)"
      (clicked)="onClickMovie($event)"
      (scroll)="clickScroll()"></data-list>
  </ion-grid>
</ion-content>
