ion-card-subtitle {
  font-size: smaller;
  --color: #737373;
}

ion-item {
  --inner-padding-end: 0 !important;
  --ion-background-color: var(--ion-color-secondary);
}

ion-thumbnail {
  height: 100%;
  width: 30%
}

ion-content {
  --ion-background-color: var(--ion-color-secondary-tint);
}

h5 {
  color: #ffffff;
  margin-left: 16px;
}

.ion-card-title {
  font-size: 14px;
  white-space: initial;
}

ion-card-subtitle {
  font-size: 14px;
  white-space: initial;
}

ion-card {
  outline: none;
}


.title-header {
  border-bottom: 1px solid white;
  border-width: 0.01em;
}

.details-overview {
  max-height: 160px;
  color: #ffffff;
  overflow: hidden;
}

.card-content {
  padding: 10px 10px 0 0;
}

.billed-cast-col {
  margin-top: 16px;
  padding-bottom: 16px;
  background-color: var(--ion-color-secondary);
}

.top-billed-cast-header {
  background-color: var(--ion-color-secondary-tint);
  padding: 16px 8px;
  height: 100px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 6px;
}

.card {
  width: 120px;
  margin: 10px 5px;
  display: inline-block;
}

.top-billed-cast-header {
  background-color: var(--ion-color-secondary-tint);
  padding: 16px 8px;
  height: 100px;
}

.info-wrapper {
  padding: 0 16px;
}

.info-label {
  color: #ffffff;
  margin: 16px 0 0 0;
  font-size: 14px;
}

.info-title {
  font-size: 14px;
  color: #737373;
  margin: 0;
}
