<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigate()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading | async">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin" color="secondary">
          <ion-card-header color="secondary" class="card-shadow">
            <ion-card-title>
              {{ details.name}}
            </ion-card-title>
            <ion-card-subtitle>
              {{ details.known_for_department }}&nbsp;&nbsp;
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="card-content">
            <ion-item class="ion-no-padding">
              <ion-thumbnail slot="start">
                <image-loader
                  (click)="openPreview(details.profile_path)"
                  spinnerMarginLeft="30%"
                  spinnerMarginTop="42%"
                  spinnerWidth="40px"
                  spinnerWrapperHeight="148px"
                  spinnerWrapperWidth="98px"
                  (load)="onLoad()"
                  [src]="url + details.profile_path">
                </image-loader>
              </ion-thumbnail>
              <p class="details-overview">{{ details.biography | overview: 200 }}</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filterCastMovies(details?.combined_credits.cast).length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <div class="card-shadow ion-padding">
          <h5>Movies Cast In</h5>
        </div>
        <div class="scrolling-wrapper">
          <ion-card
            button
            class="card"
            *ngFor="let movie of filterCastMovies(details?.combined_credits.cast); trackBy: trackByCastFn">
            <image-loader
              (click)="openPreview(movie.poster_path)"
              spinnerMarginLeft="30%"
              spinnerMarginTop="42%"
              spinnerWidth="40px"
              spinnerWrapperHeight="148px"
              spinnerWrapperWidth="98px"
              (load)="onLoad()"
              [src]="url + movie.poster_path">
            </image-loader>
            <p class="release-date">
              {{ movie.release_date | date: 'y' }}
            </p>
            <ion-card-header color="secondary" class="top-billed-cast-header"
                             [routerLink]="['/', 'details', getLink(movie), movie.id]">
              <ion-card-title class="ion-card-title">
                {{ movie.title | overview: 50 }}
              </ion-card-title>
              <p *ngIf="movie.character" class="acting-as">as ( {{ movie.character | overview: 17 }} )</p>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filterCastTVShows(details?.combined_credits.cast).length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <div class="card-shadow ion-padding">
          <h5>TV Shows Cast In</h5>
        </div>
        <div class="scrolling-wrapper">
          <ion-card
            button
            class="card"
            *ngFor="let movie of filterCastTVShows(details?.combined_credits.cast); trackBy: trackByCastFn">
            <image-loader
              (click)="openPreview(movie.poster_path)"
              spinnerMarginLeft="30%"
              spinnerMarginTop="42%"
              spinnerWidth="40px"
              spinnerWrapperHeight="148px"
              spinnerWrapperWidth="98px"
              (load)="onLoad()"
              [src]="url + movie.poster_path">
            </image-loader>
            <p class="release-date">
              {{ movie.first_air_date | date: 'y' }}
            </p>
            <ion-card-header color="secondary" class="top-billed-cast-header"
                             [routerLink]="['/', 'details', getLink(movie), movie.id]">
              <ion-card-title class="ion-card-title">
                {{ movie.name | overview: 50 }}
              </ion-card-title>
              <p *ngIf="movie.character" class="acting-as">as ( {{ movie.character | overview: 17 }} )</p>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="details?.combined_credits.crew.length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <div class="card-shadow ion-padding">
          <h5>Crew In</h5>
        </div>
        <div class="scrolling-wrapper">
          <ion-card
            button
            class="card"
            *ngFor="let movie of details?.combined_credits.crew; trackBy: trackByCastFn">
            <image-loader
              (click)="openPreview(movie.poster_path)"
              spinnerMarginLeft="30%"
              spinnerMarginTop="42%"
              spinnerWidth="40px"
              spinnerWrapperHeight="148px"
              spinnerWrapperWidth="98px"
              (load)="onLoad()"
              [src]="url + movie.poster_path">
            </image-loader>
            <p class="release-date">
              {{ (movie.release_date | date: 'y') || (movie.first_air_date | date: 'y') }}
            </p>
            <ion-card-header
              color="secondary"
              class="top-billed-cast-header"
              [routerLink]="['/', 'details', getLink(movie), movie.id]">
              <ion-card-title class="ion-card-title">
                {{ movie.title || movie.name }}
              </ion-card-title>
              <p *ngIf="movie.job" class="acting-as">as ( {{ movie.job | overview: 17 }} )</p>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="details?.images.profiles.length > 0">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <div class="card-shadow ion-padding">
          <h5>Images</h5>
        </div>
        <div class="scrolling-wrapper">
          <ion-card
            class="card"
            *ngFor="let image of details?.images.profiles; trackBy: trackByImageFn">
            <image-loader
              (click)="openPreview(image.file_path)"
              spinnerMarginLeft="30%"
              spinnerMarginTop="42%"
              spinnerWidth="40px"
              spinnerWrapperHeight="148px"
              spinnerWrapperWidth="98px"
              (load)="onLoad()"
              [src]="url + image.file_path">
            </image-loader>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isDetails(details)">
      <ion-col
        class="billed-cast-col ion-no-padding">
        <div class="card-shadow ion-padding">
          <h5>Personal Details</h5>
        </div>
        <div class="info-wrapper">
          <p
            *ngIf="details.birthday"
            class="info-label">Born
          </p>
          <p class="info-title">{{ details.birthday | date }}</p>
          <p class="info-title">{{ details.place_of_birth }}</p>
          <p
            *ngIf="details.deathday"
            class="info-label">Deathday
          </p>
          <p class="info-title">{{ details.deathday }}</p>
          <p
            *ngIf="details.biography"
            class="info-label">Biography
          </p>
          <p class="info-title">{{ details.biography }}</p>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
