@import "./colors";

.info-wrapper {
  padding: 0 16px;
}

.info-label {
  color: $text-color;
  margin: 16px 0 0 0;
  font-size: 14px;
}

.info-title {
  font-size: 14px;
  color: $silver-color;
  margin: 0;
}
